@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit">
    <div class="my-3">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" value="@Model.Code" class="form-control"  />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" value="@Model.Name" class="form-control"  />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CreatedAt" class="col-form-label"></label>
        <input asp-for="CreatedAt" type="datetime-local" value="@Model.CreatedAt.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-success m-5" />
        <a asp-action="Index" class="btn btn-success m-5">Back To List</a>
    </div>

</form>